@using AskAMech.Core.Domain
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AskAMech</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">AskAMech</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav flex-grow-1 mr-auto">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        
                        @if (UserSecurityManager.IsAuthenticated)
                        {
                            @if (UserSecurityManager.UserRoleId == (int)UserRole.Admin)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Dashboard" asp-action="AdminDashboard">Admin Dashboard</a>
                                </li>
                            }
                            else if (UserSecurityManager.UserRoleId == (int)UserRole.PublicUser || UserSecurityManager.UserRoleId == (int)UserRole.Mechanic)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Dashboard" asp-action="UserDashboard">My Dashboard</a>
                                </li>
                            }
                        }

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Question" asp-action="Index">Questions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>

                    <ul class="navbar-nav">
                        @if (!UserSecurityManager.IsAuthenticated)
                        {
                            <li class="nav-item md-Padding-Right-5">
                                <button id="loginDialog" class="btn btn-primary" data-toggle="ajax-modal" data-target="#login" data-url="@Url.Action("Login", "Home")">Login</button>
                            </li>
                            <li class="nav-item">
                                <button id="registerDialog" class="btn btn-info" data-toggle="ajax-modal" data-target="#login" data-url="@Url.Action("Register", "Home")">Register</button>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <form asp-controller="Home" asp-action="SignOut" method="post">
                                    <button class="btn btn-info" type="submit">Sign Out</button>
                                </form>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - AskAMech - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <div id="modalLoginDiv"></div>
    <div id="modalRegisterDiv"></div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>

<script src="~/js/Login/login.js"></script>
<script src="~/js/Regsiter/register.js"></script>