@model AskAMech.Core.UseCases.Responses.GetQuestionsResponse
@{
    ViewData["Title"] = "Question List";
}

<form id="QuestionList" asp-controller="Question" asp-action="Index" method="GET">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="display-4 text-center">
                    <i class="material-icons md-45">time_to_leave</i>
                    Questions
                </h1>
            </div>
        </div>
        <hr />

        <div class="row">
            <div class="col-md-12 text-right">
                <a id="SearchButton" title="Search" href="#"><i class="material-icons md-45">search</i></a>
            </div>
        </div>

        <div id="searchDiv" class="bg-light hide">
            <div class="row md-Padding-Top-10">
                <div class="col-md-1"></div>
                <div class="col-md-4">
                    @Html.LabelFor(x => x.Search, "Question Description", new { @class = "text-bold" })
                    @Html.TextBoxFor(x => x.Search, new { @class = "form-control" })
                </div>
                <div class="col-md-4">
                    @Html.LabelFor(x => x.CategoryId, "Category", new { @class = "text-bold" })
                    @Html.DropDownListFor(x => x.CategoryId,
                        new SelectList(Model.Categories, "Id", "Description"), "--All--",
                        new { @class = "form-control full-width", data_val = false })
                </div>
                <div class="col-md-2">
                    <label>&nbsp;</label>
                    <button type="submit" class="btn btn-primary full-width">Search</button>
                </div>
            </div>
            <br />
        </div>

        <div class="row md-Padding-Top-20">
            <div class="col-md-12">
                @if (Model.Questions.Any())
                {
                    <table id="questionsTable" class="table full-width">
                        <thead class="thead-dark">
                            <tr>
                                <th></th>
                                <th>Description</th>
                                <th>Category</th>
                                <th>Created By</th>
                                <th>Date Created</th>
                            </tr>
                        </thead>
                        <tbody class="table-striped">
                            @foreach (var item in Model.Questions)
                            {
                                <tr>
                                    <td>
                                        <a asp-route-id="@item.Id" title="View Question">
                                            <i class="material-icons md-30">info</i>
                                        </a>
                                    </td>
                                    <td>@item.Description</td>
                                    <td>@item.Category</td>
                                    <td>@item.CreatedBy</td>
                                    <td>@item.DateCreated</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <h3>No Records Found</h3>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-1">
                <button id="PreviousPage" title="Previous Page" class="btn-group btn-success">
                    <i class="material-icons md-15">navigate_before</i>
                </button>
            </div>
            <div class="col-md-2">
                <label id="CurrentPage">Page @Model.Pagination.Page of @Model.Pagination.TotalPages</label>
                @Html.HiddenFor(x => x.Pagination.Page, new { id = "Page" })
                @Html.HiddenFor(x => x.Pagination.TotalPages, new { id = "TotalPages" })
                @Html.HiddenFor(x => x.Pagination.RecordCount, new { id = "RecordCount" })
            </div>
            <div class="col-md-1">
                <button id="NextPage" title="Next Page" class="btn-group btn-success">
                    <i class="material-icons md-15">navigate_next</i>
                </button>
            </div>
        </div>
    </div>
</form>

@section Scripts
{
    <script src="~/js/Question/index.js"></script>
}
