@model AskAMech.Core.Questions.Responses.GetQuestionsResponse
@{
    ViewData["Title"] = "Question List";
}

<form id="QuestionList">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="display-4 text-center">
                    <i class="material-icons md-45">time_to_leave</i>
                    Questions
                </h1>
            </div>
        </div>
        <hr />

        <div class="row">
            <div class="col-md-12 text-right">
                <a id="SearchButton" title="Search" href="#"><i class="material-icons md-45">search</i></a>
            </div>
        </div>

        <div id="searchDiv" class="bg-light hide">
            <div class="row md-Padding-Top-10">
                <div class="col-md-1"></div>
                <div class="col-md-4">
                    @Html.LabelFor(x => x.Search, "Question Description", new { @class = "text-bold" })
                    @Html.TextBoxFor(x => x.Search, new { @class = "form-control" })
                </div>
                <div class="col-md-4">
                    @Html.LabelFor(x => x.CategoryId, "Category", new { @class = "text-bold" })
                    @Html.DropDownListFor(x => x.CategoryId,
                        new SelectList(Model.Categories, "Id", "Description"), "--All--",
                        new { @class = "form-control full-width", data_val = false })
                </div>
                <div class="col-md-2">
                    <label>&nbsp;</label>
                    <button id="SearchQuestions" type="button" class="btn btn-primary full-width">Search</button>
                </div>
            </div>
            <br />
        </div>

        <div class="md-Padding-Top-20">
            @if (Model.Questions.Any())
            {
                @foreach (var item in Model.Questions)
                {
                    <div class="card card-green-border">
                        <div class="row no-gutters">
                            <div class="col-md-11 col-sm-10">
                                <div class="card-body ">
                                    <h5 class="card-title">
                                        <a asp-controller="Question" asp-action="ViewQuestion" asp-route-id="@item.Id">
                                            @item.Title
                                        </a>
                                    </h5>
                                    <p class="card-text">Category: @item.Category</p>
                                    <p class="card-text">
                                        <small>
                                            Asked by 
                                            <a asp-controller="User" asp-action="ViewUserProfile" asp-route-id="@item.CreatedByUserId">
                                                @item.CreatedBy
                                            </a> on @item.DateCreated.ToString("dd/MM/yyyy HH:mm")
                                        </small>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-1 col-sm-2">
                                <label>@item.AnswerCount Answers</label>
                            </div>
                        </div>
                    </div>
                    <br />
                }
            }
            else
            {
                <div class="col-md-12">
                    <h3>No Records Found</h3>
                </div>
            }
        </div>
        <hr />
        <partial name="_Paging" model="Model.Pagination" />
    </div>
</form>

@section Scripts
{
    <script src="~/js/Question/index.js"></script>
}
