@using AskAMech.Core.Domain
@model AskAMech.Core.UseCases.Responses.GetViewQuestionResponse
@{
    ViewData["Title"] = "Question View";
    var isQuestionAuthor = Model.QuestionDetails.CreatedByUserId == UserSecurityManager.UserId;
}

<form>
    <div class="container bg-ghost-white">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center">
                    @Model.QuestionDetails.Title
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h5>@Model.QuestionDetails.Description</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-right">
                <label>Category: @Model.QuestionDetails.CategoryDescription</label>
                <br />
                <label>
                    Asked by
                    <a asp-controller="User" asp-action="ViewUserProfile" asp-route-id="@Model.QuestionDetails.CreatedByUserId">
                        @Model.QuestionDetails.Username
                    </a>
                    on @Model.QuestionDetails.DateCreated.ToString("dd/MM/yyyy HH:mm")
                </label>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row md-Padding-Top-10">
            <div class="col-md-12 text-right">
                <a asp-controller="Question" asp-action="Index" class="md-Padding-Right-15">
                    Back to list
                </a>
                @if (isQuestionAuthor)
                {
                    <a asp-controller="Question" asp-action="Edit" asp-route-id="@Model.QuestionDetails.Id" class="btn btn-primary">
                        Edit Question
                    </a>
                }
                else
                {
                    <button id="PostAnswer" class="btn btn-primary">
                        Post A Answer
                    </button>
                }
            </div>
        </div>
    </div>

    <hr />
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center">
                    Answers
                </h2>
            </div>
        </div>

        <div class="md-Padding-Top-10">
            @if (Model.Answers.Any())
            {
                foreach (var item in Model.Answers)
                {
                    <div class="card card-black-border">
                        <div class="row no-gutters">
                            <div class="col-md-12 col-sm-10">
                                @if (isQuestionAuthor)
                                {
                                    <div class="card-header">
                                        <input type="checkbox" id="AcceptedAnswer"/>
                                        <label> Mark as Accepted Answer</label>
                                    </div>
                                }
                                <div class="card-body ">
                                    <label class="card-title">
                                        @item.Description
                                    </label>
                                </div>
                                <div class="card-footer text-right">
                                    Answered by:
                                    <a asp-controller="User" asp-action="ViewUserProfile" asp-route-id="@item.AnsweredByUserId">
                                        @item.Username
                                    </a>
                                    @if (item.UserRoleId == (int)UserRole.Mechanic)
                                    {
                                        <i class="material-icons md-15 icon-green" title="Certified Mechanic">build</i>
                                    }
                                    on @item.DateCreated.ToString("dd/MM/yyyy HH:mm")
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                }
            }
            else
            {
                <div class="col-md-12">
                    <h3>There Are No Answers For This Question</h3>
                </div>
            }
        </div>
    </div>
</form>

@section Scripts{ 
    <script src="~/js/Question/viewQustion.js"></script>
}