@model AskAMech.Core.UseCases.Responses.GetEmployeesResponse

@{
    ViewData["Title"] = "Employee List";
}
    <form id="EmployeeList" asp-controller="Employee" asp-action="Index" method="GET">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="display-4 text-center">
                        <i class="material-icons md-45">list</i>
                        Employees
                    </h1>
                </div>
            </div>
            <hr />

            <div class="row">
                <div class="col-md-12 text-right">
                    <a title="Search" href="#"><i class="material-icons md-45">search</i></a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    <input type="text" placeholder="search by username or id number" class="form-control" />
                </div>
            </div>

            <div class="row md-Padding-Top-20">
                <div class="col-md-2">
                    <button type="button" class="btn btn-primary" id="btnSubmit">Search</button>
                </div>
            </div>

            <div class="row md-Padding-Top-20">
                <div class="col-md-12">
                    @if (Model.AllEmployees.Any())
                    {
                        <table id="employeesTable" class="table full-width">
                            <thead class="thead-dark">
                                <tr>
                                    <th></th>
                                    <th>FirstName</th>
                                    <th>LastName</th>
                                    <th>ID Number</th>
                                    <th>Email</th>
                                </tr>
                            </thead>
                            <tbody class="table-striped">
                                @foreach (var item in Model.AllEmployees)
                                {
                                    <tr>
                                        <td>
                                            <a asp-route-id="@item.Id" title="View Employees">
                                                <i class="material-icons md-30">info</i>
                                            </a>
                                        </td>
                                        <td>@item.FirstName</td>
                                        <td>@item.LastName</td>
                                        <td>@item.IdNumber</td>
                                        <td>@item.Email</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <h3>No Records Found</h3>
                    }
                </div>
            </div>
        </div>
    </form>